# Kevin Krause and Delon Lawrence

# Create the Category Data, Save it to a Dataframe, and Export to a CSV FILE

In [1]:
# pandas dependency
import pandas as pd
from pathlib import Path
import numpy as np
import csv

In [2]:
# Create the Category DataFrame:

crowdfunding_data_df = pd.read_excel("Resources/crowdfunding.xlsx")

category_data_df = crowdfunding_data_df[['category & sub-category']].copy()

category_data_df = category_data_df.rename(columns={"category & sub-category": "cat_subcat"})

category_data_df.cat_subcat.unique()

unique_cat_subcat = category_data_df.cat_subcat.unique()

#category_cat_dict = {}

In [3]:
cat_subcat_df = pd.DataFrame(columns=['Category', 'Sub_Category'])
#cat_subcat_df = pd.DataFrame(columns=['A', 'B', 'C', 'D', 'E'])

cat_subcat_df.shape
for row in unique_cat_subcat:
    row_list = row.split("/")
    cat_subcat_df.loc[len(cat_subcat_df)] = row_list

#print(cat_subcat_df)

In [4]:
#category_only_df = cat_subcat_df[['Category']].copy()

#    cat_subcat_df.loc[len(cat_subcat_df)] = row_list

In [5]:
#  Create unique CAT IDs for each unique Category
category_only_df = cat_subcat_df[['Category']].copy()
unique_cats = category_only_df.Category.unique()
catnum = 0
cat_catid_df = pd.DataFrame(columns=['category_id', 'category'])
for cat in unique_cats:
    catnum = catnum + 1
    catid = 'cat' +  str(catnum)
    addcat = []
    addcat.append(catid)
    addcat.append(cat)
#    print(addcat)
    cat_catid_df.loc[len(cat_catid_df)] = addcat
#    print(cat, catid)

['cat1', 'food']
['cat2', 'music']
['cat3', 'technology']
['cat4', 'theater']
['cat5', 'film & video']
['cat6', 'publishing']
['cat7', 'games']
['cat8', 'photography']
['cat9', 'journalism']

In [6]:
cat_catid_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [9]:
#  Create unique SUB-CAT IDs for each unique Sub-Category
subcategory_only_df = cat_subcat_df[['Sub_Category']].copy()
unique_subcats = subcategory_only_df.Sub_Category.unique()
subcatnum = 0
subcat_scatid_df = pd.DataFrame(columns=['subcategory_id', 'subcategory'])
for subcat in unique_subcats:
    subcatnum = subcatnum + 1
    subcatid = 'subcat' + str(subcatnum)
    saddcat = []
    saddcat.append(subcatid)
    saddcat.append(subcat)
#    print(saddcat)
    subcat_scatid_df.loc[len(subcat_scatid_df)] = saddcat

In [8]:
subcat_scatid_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [9]:
# Export the data to CSV Files

#This file contains the CATEGORY DAtA
cat_catid_df.to_csv('Resources/crowdfunding_Category_Data.csv',index=False)

#This file contains the SUB-CATEGORY DATA
subcat_scatid_df.to_csv('Resources/crowdfunding_SUB_Category_Data.csv',index=False)

##  THIS IS THE END OF THE SECTION TO LOAD THE CATEGORY AND SUBCATEGORY DATA
### -------------------------------------------------------------------------------------------------------------------------------------------------------------

### THE CATEGORY DATAFRAME IS cat_catid_df
### THE SUB-CATEGORY DATAFRAME IS subcat_scatid_df